.item-wrapper {
  background: #CCCCCC;
  border-radius: .3em;
  padding: .1em;
}

.item-container {
  display: grid;
  justify-items: center;
  border: 1px solid #CCCCCC;
  border-radius: .3em;
  background: white;
  padding: .3em 0;
}
