.selector-wrapper {
  padding: 1em 0;
  width: 60%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: .3em;
  align-items: center;
}

div select, div.search-text {
  width: 100%;
}
